### **Multi Index DataFrames**

In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn
np.random.seed(69)

In [3]:
# index levels
outside = ('G1 ' * 3).split()
outside.extend(('G2 ' * 3).split())
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [4]:
list(zip(outside, inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [5]:
df = pd.DataFrame(data=randn(6, 2), index=hier_index, columns="A B".split())

In [6]:
df

             A         B
G1 1  0.915507 -0.603542
   2  1.162295 -0.601400
   3 -1.597486  0.397726
G2 1  1.205865  1.056299
   2  0.852544  0.689391
   3 -0.224737 -0.522182

In [7]:
df.loc['G1']

          A         B
1  0.915507 -0.603542
2  1.162295 -0.601400
3 -1.597486  0.397726

In [8]:
df.loc['G1'].loc[1]

A    0.915507
B   -0.603542
Name: 1, dtype: float64

In [9]:
df.index.names = ['Groups', 'Numbers']

In [10]:
df

                       A         B
Groups Numbers
G1     1        0.915507 -0.603542
       2        1.162295 -0.601400
       3       -1.597486  0.397726
G2     1        1.205865  1.056299
       2        0.852544  0.689391
       3       -0.224737 -0.522182

In [12]:
df.loc['G2'].iloc[1, 1]

0.6893914144775047

In [19]:
df.xs(1, level='Numbers')

               A         B
Groups
G1      0.915507 -0.603542
G2      1.205865  1.056299